{% load static %}
{% load bootstrap_icons %}

{% comment %}

PREP

https://getbootstrap.com/docs/5.3/utilities/spacing/#gap

Элемент <a> с классом stretched-link добавляет псевдо-элемент,
который имеет ширину и высоту.

Будучи помещен выше внутренних дивов, он сдвигает элементы и
рушит всю гармонию.

Если поместить ссылку после внутренних дивов,
визуально удваивается марджин снизу.

Поэтому у внутренних дивов снизу нет марджинов.

Ипользование:

{% include 'objects/main.html' %}

{% endcomment %}



<div class="card position-relative mb-3 border-primary">
    <div class="row g-0">

        <div class="col-md-9 border-end border-primary p-3">
            <h5 class="card-title fw-bold">Заселение #{{ object.id }}</h5>


            <p class="card-text mb-2">{{ object.guest }}</p>

            <p class="card-text mb-2">{{ object.guest.gender }}</p>
            <p class="card-text mb-2">Дата рождения: {{ object.guest.birthday }}</p>


            <p class="card-text mb-0">Сколько раз останавливался: {{ object.guest.history_set.count }}</p>
        </div>


        <div class="col-md-3 d-flex align-items-start justify-content-center p-3">
            <p class="card-text text-center">{{ object.guest.status }}</p>
        </div>
    </div>



    <a href="{{ object.get_update_url }}" class="stretched-link"></a>

</div>